table {
  background: #ffffff;
  border: 1px solid #d7dfe9;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 4px;
  width: 100%;
  max-width: 100%;
}

thead th {
  border-bottom: 1px solid #d7dfe9;
  text-transform: uppercase;
}

// Extra border above footer
tfoot th {
  border-top: 2px solid #d7dfe9;
}

table tr:not(:last-child) td {
  border-bottom: 1px solid #d7dfe9;
}

th,
td {
  text-align: left;
  padding: 1rem;
}

.contain-table {
  overflow-x: auto;
}

@include small-breakpoint {
  .contain-table {
    width: 100%;
  }
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  width: 48px;
  height: 48px;
  background: #ca9f00;
  border-radius: 6px;
  margin-right: 10px;
}

.main {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */

    color: #171f46;
  }
}
