body {
  font-family: Inter, sans-serif;
}

.scroll:hover::-webkit-scrollbar {
  width: 10px;
}

.scroll:hover::-webkit-scrollbar-thumb {
  background: #d2d6dc;
  border-radius: 20px;
}

.scroll:hover::-webkit-scrollbar-track {
  background: #f4f5f7;
}
