html {
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  color: #161e2e;
  margin: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
  outline: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

ul {
  list-style: none;
}
